
.card{
    width: 270px;
    margin: 5px;
}
.bdg{
    width: 70px;
   margin: 2px;
   height: 40px;
   text-align: center;
    font-size: medium;
}

.product-wrapper{
    padding: 20px;
}

.categorys{
    width: unset;
    margin: 3px;
}

.product-link{
    text-decoration: none;
    
}

.productcard{
    left: 50%;
    transform: translate(-50%, 10%);
}